@font-face {
    font-family: "angelicpeace";
    src: url("/Angelic Peace.ttf");
}

body {
    font-size: 32px;
    font-family: "angelicpeace";
    background-image: url("/kitchenfloor2.png");
    background-size:cover;
    color:rgb(0, 0, 0);
}

#app-container {
    display: flex;
}

#game-controls {
    flex-grow: 1;
}

.character-attribute-control-container {
    display: flex;
}

.tab-container {
    display: flex;
    background-color: rgb(229, 255, 0);
}

.tab {
    margin: 2px;
    padding:1px;
    padding-left:4px;
    padding-right:4px;
    outline: dashed 1px red;
    cursor: pointer;
    box-shadow: inset -4px -8px 10px rgb(4, 51, 0);
}

.tab-content {
    display: flex;
}

.tab h3 {
    font-family: "angelicpeace";
    font-weight: 1 !important;
    margin: 0 !important;
}

canvas {
    border: 1px dashed red;
}

p {
    background-color: rgb(229, 255, 0);
    border-radius: 5px;
    box-shadow: inset -4px -8px 10px rgb(4, 51, 0);
}

.tab:hover {
    outline: dashed 3px green;
}

.col {
    margin: 1rem;
}

.textureOption {
    padding: 5px;
    background-color: white;
    outline: 1px dashed red;
    opacity: .75;
    width: 100px;
    height: 100px;
}

.textureOption img {
    max-width: 100%;
    max-height: 100%;
}

.textureOption:hover {
    outline: dashed 3px green;
    opacity: 1;
}

.selected { 
    outline: dashed 3px green;
    opacity: 1;
}

#eye-selection-container, #nose-selection-container, #mouth-selection-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1em;
}

.attValue {
    max-width: 50px;
}

#shirtDesignerContainer {
    outline: 1px dashed red;
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    height: 500px;
}

#shirtDesigner {
    height: 100%;
    width:100%;
}